# python
*.pyc
*.pyo
__pycache__

# buildout
/.installed.cfg
/.python-version
/bin
/develop-eggs
/eggs
/parts
/src/revolution.egg-info

# rpms
/target
/rpms/*/sources

# vagrant
/.galaxy-roles
/.vagrant
